<!-- / main menu-->
<div class="app-content content container-fluid">
  <div class="content-wrapper">
      <div class="col-md-12">
          <div class="card">

              <div class="row">
                  <div class="col-xs-12">
                      <div class="card">
                          <div class="card-header">
                              <h5 class="card-title">لیست سفارشات</h5>
                              <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                      <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                      <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                      <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                      <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="card-body collapse in">

                              <div class="table-responsive">
                                  <table class="table table-bordered mb-0">
                                      <thead>
                                      <tr>
                                          <th>تاریخ سفارش</th>
                                          <th>وضعیت سفارش</th>
                                          <th>نحو پرداخت</th>
                                          <th>مبلغ فاکتور</th>
                                          <th>آدرس</th>
                                          <th>محصولات</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          <app-orders class="table-line" *ngFor="let order of order" 
                                          [order]="order"></app-orders>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->