
<!----------menu-------->
<div class="container-fluid mt-3 border-top border-bottom d-none d-lg-block" style="background-color: #eeeeee">
  <div class="container px-0">
      <div class="menubar">
          <div class="menu-wrapper">
              <ul class="nav2 ">
                  <app-menu-item *ngFor="let menu of menus" [menu]="menu"></app-menu-item>
              </ul>
          </div>

      </div>
  </div>
</div>
<!----------menu mobile
<div class="container-fluid bg- mt-3 d-lg-none" style="background-color: #eeeeee">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light px-0 f4 ">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="mynavbar">
              <ul class="navbar-nav">
                  <li class="nav_item" >
                      <a href="#" class=" nav-link mr-1  " >آرایشی و بهداشتی</a>
                  </li>
                  <li class="nav_item" >
                      <a href="#" class=" nav-link mx-1 " >مکمل غذایی</a>
                  </li>
                  <li class="nav_item">
                      <a href="#" class=" nav-link mx-1  ">مکمل ورزشی</a>
                  </li>
                  <li class="nav_item" >
                      <a href="#" class=" nav-link mx-1   ">مادر و کودک</a>
                  </li>

                  <li class="nav_item" >
                      <a href="#" class=" nav-link mx-1  ">تجهیزات پزشکی</a>
                  </li>
                  <li class="nav_item" >
                      <a href="#" class=" nav-link mx-1  ">مجله داروکده</a>
                  </li>

              </ul>
          </div>
      </nav>
  </div>
</div>-------->