<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">لیست برندها</h5>
                <a class="heading-elements-toggle"
                  ><i class="icon-ellipsis font-medium-3"></i
                ></a>
                <div class="heading-elements">
                  <div
                    [routerLink]="['/panel/admin/addBrand']"
                    routerLinkActive="router-link-active"
                    class="addProductButton"
                  >
                    افزودن محصول
                  </div>
                </div>
              </div>
              <div class="card-body collapse in">
                <div class="table-responsive">
                  <table class="table table-bordered mb-0">
                    <thead>
                      <tr>
                        <th>ردیف</th>
                        <th>نام برند</th>
                        <th>لوگو</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of brands; let i = index">
                        <th scope="row" class="pt-1">{{ i }}</th>
                        <td class="pt-1">{{ item.brandName }}</td>
                        <td class="pt-1"><img [src]="item.brandLogoUrl" /></td>
                        <td class="pt-1">
                          <div class="row" style="margin: 0">
                            <button
                              type="button"
                              class="btn btn-danger"
                              (click)="onDeleteBrand(item.id)"
                            >
                              حذف
                            </button>
                            <button type="button" class="btn btn-lime">
                              ویرایش
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
