

<!----------header B-------->
<div class="container">
  <div class="row">
      <div class="col-8 col-md-2">
          <img src="../../../../assets/app-site/img/logo3%20(1).svg" class="img-fluid">
      </div>

      <div class="col-12 col-md-10">
        <form class="example mt-4 f4 searchInput">
            <button type="submit"><i class="fa fa-search "></i></button>
            <input type="text" placeholder="دنبال چی میگردی؟!" name="search2">
        </form>
    </div>

      <!--<div class="col-4 col-md-2">
        <div class="row text-center">
            <span><i class='fas fa-cart-arrow-down mt-3 pt-3 text-green' style="font-size: 23px"></i></span>
            <span id="ObjBascketCounter" class="count-product">2</span>
            <span class="mt-4 pt-2 ml-1" >سبد خرید</span>
        </div>
      </div>-->
  </div>
</div>
<hr>