
<!-------------header  A-------->
<div class="container-fluid" style="background-color: #a5d122">
  <div class="container">
  <div class="row">
      <div class="col-6 py-2 f4">
          <div class="row">
         <span class="text-light "><i class='fas fa-user'></i> ورود کاربر </span>
          <span class="ml-md-4 ml-lg-4 ml-3 text-light "><i class='fas fa-box'></i> پیگیری سفارش </span>
          </div>
      </div>
      <div class="col-6 text-right text-light mb-0 py-2 f4">044-32455555</div>
  </div>
  </div>
</div>



<!----------header B-------->
<div class="container">
  <div class="row">
      <div class="col-8 col-md-4">
          <img src="../../../../assets/app-site/img/logo3%20(1).svg" class="img-fluid">
      </div>

      <div class="col-4 col-md-2">
        <div class="row text-center">
            <span><i class='fas fa-cart-arrow-down mt-3 pt-3 text-green' style="font-size: 23px"></i></span>
            <span id="ObjBascketCounter" class="count-product">2</span>
            <span class="mt-4 pt-2 ml-1" >سبد خرید</span>
        </div>
      </div>
      <div class="col-12 col-md-6">
          <form class="example mt-4 f4">
              <button type="submit"><i class="fa fa-search "></i></button>
              <input type="text" placeholder="دنبال چی میگردی؟!" name="search2">
          </form>
      </div>
  </div>
</div>