<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
  <div class="card bg-teal">
    <div class="card-body">
      <div class="card-block">
        <div class="media">
          <div class="media-left media-middle">
            <i class="icon-map1 white font-large-2 float-xs-left"></i>
          </div>
          <div class="media-body white">
            <h3>موجودی فعلی کیف پول شما</h3>
            <span> {{ wallet.inventory }} تومان </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
