@import "../../../../../../../assets/css-rtl/bootstrap.css";
@import "../../../../../../../assets/fonts/icomoon.css";
@import "../../../../../../../assets/css-rtl/bootstrap-extended.css";
@import "../../../../../../../assets/css-rtl/app.css";
@import "../../../../../../../assets/css-rtl/core/menu/menu-types/vertical-menu.css";
@import "../../../../../../../assets/css-rtl/core/menu/menu-types/vertical-overlay-menu.css";
@import "../../../../../../../assets/css-rtl/core/colors/palette-gradient.css";
@import "../../../../../../../assets/css-rtl/colors.css";

.margt15{
    margin-top: 15px;
    margin-left: 10px;
}

.dropupload{
    padding: 50px 0;
    text-align: center;
    border: 4px dashed #c4c4c4;
    border-radius: 5px;
    margin-bottom: 19px;
}
.tabpadding{
    padding: 40px 20px;
}

.inputupload{
    position: absolute;
top: 47px;
left: 0;
right: 0;
margin: 0 auto;
width: 96%;
background: red;
height: 64%;
opacity: 0;
cursor: pointer;
}