.card {
    border: none;
    box-shadow: none;
    border-radius: 10px;
}
.editbuttom {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.editspan {
    float: left;
}