<!------footer-------->

<div class="container-fluid bg-light pt-4 px-0">
  <div
    class="container-fluid text-light py-2"
    style="background-color: #0d1e2c"
  >
    <div class="container">
      <div class="row justify-content-center">
        <p style="text-align: center !important" class="text-justify f5">
          تهران، خیابان فاطمی، روبروی مترو جهاد، داروخانه دکتر به منش
        </p>
      </div>
      <div class="row justify-content-center f5">
        <p style="text-align: center !important">021-88993272</p>
      </div>
    </div>
  </div>
</div>
