<!------footer-------->

<div class="container-fluid bg-light pt-4 px-0">
  <div
    class="container-fluid text-light py-2"
    style="background-color: #0d1e2c"
  >
    <div class="container">
      <div class="row justify-content-center">
        <a href="https://goo.gl/maps/DtrbVgUsx17tTYiw5">
          <p
            style="text-align: center !important; color: white"
            class="text-justify f5"
          >
            تهران، خیابان فاطمی، روبروی مترو جهاد، داروخانه دکتر به منش
          </p>
        </a>
      </div>
      <div class="row justify-content-center f5">
        <a href="tel:02188993272">
          <p style="text-align: center !important; color: white">
            <span style="margin-left: 5px"><i class="fa fa-phone"></i></span
            >021-88993272
          </p>
        </a>
      </div>
      <div class="row justify-content-center f5">
        <a href="https://api.whatsapp.com/send?phone=00989304706534">
          <p style="text-align: center !important; color: white">
            <span style="margin-left: 5px"><i class="fab fa-whatsapp"></i></span
            >09304706534
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
