@import '../../../../../assets/app-site/css/style.css';
@import 'https://use.fontawesome.com/releases/v5.7.0/css/all.css';
@import '../../../../../assets/app-site/css/fontawesome.min.css';


.commentFormField {
  width: 80%;
  margin-right: 15px;
  text-align: right;
}

.doctorCommentAnswer {
  position: absolute;
  top: 30%;
}