<div class="app-content content container-fluid">
  <div class="content-wrapper content-wrapper-costum">
      <div class="col-md-12">
          <div class="card">

              <div class="row">
                  <div class="col-xs-12 col-md-12">
                      <div class="card">
                          <div class="card-header">
                              <h5 class="card-title">لیست کاربران</h5>
                              <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                      <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                      <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                      <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                      <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="card-body collapse in">

                              <div class="table-responsive">
                                  <table class="table table-bordered mb-0">
                                      <thead>
                                      <tr>
                                          <th>ردیف</th>
                                          <th>نام</th>
                                          <th>نام خانوادگی </th>
                                          <th>شماره همراه</th>
                                          <th>ایمیل</th>
                                          <th>عملیات</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr>
                                          <th scope="row" class="pt-1">1</th>
                                          <td class="pt-1">حسین</td>
                                          <td class=" pt-1">محمودی</td>
                                          <td class=" pt-1">09149146565</td>
                                          <td class=" pt-1">hosein41@gmail.com</td>
                                          <td class="pt-1">
                                              <div class="row">
                                                  <a href="see%20members.html"><button type="button" class="btn btn-lime">مشاهده</button></a>
                                                  <a href="edit%20user.html"><button type="button" class="btn btn-purple">ویرایش</button></a>
                                                  <button type="button" class="btn btn-danger">حذف</button>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <th scope="row" class="pt-1">1</th>
                                          <td class="pt-1">حسین</td>
                                          <td class=" pt-1">محمودی</td>
                                          <td class=" pt-1">09149146565</td>
                                          <td class=" pt-1">hosein41@gmail.com</td>
                                          <td class="pt-1">
                                              <div class="row">
                                                  <a href="see%20members.html"><button type="button" class="btn btn-lime">مشاهده</button></a>
                                                  <a href="edit%20user.html"><button type="button" class="btn btn-purple">ویرایش</button></a>
                                                  <button type="button" class="btn btn-danger">حذف</button>
                                              </div>
                                          </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->