.chatPage {
    padding: 5px;
    border-radius: 5px;
    color: gray;
    background: white;
}
.customPMargin {
    margin: 0;
}
.ticketCode {
    position: absolute;
    left: 3%;
}
.titleTicket {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.statusTicket {
    text-align: center;
    font-size: 11px;
}
.tiketCodeP {
    position: absolute;
    left: 0;
}
.ticketInfo {
    position: relative;
    font-size: 12px;
}
.hrStyle {
    margin-bottom: 0px;
    margin-top: 5px;
}
.cpl-0 {
    padding-left: 0;
}
.cp-0 {
    padding: 0;
}
.cm-0 {
    margin: 0px;
}
.isOpen {
    position: absolute;
    left: 0;
    background-color: #f59533;
    border-radius: 30px;
    padding: 2px 5px;
    color: white;
}
.isImportant {
    position: absolute;
    border-radius: 30px;
    padding: 2px 5px;
    background-color: #c78a8a;
    color: white;
}
.messageP {
    font-size: 12px;
    font-weight: bold;
    background-color: #d4cece;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    width: fit-content;
    max-width: 250px;;
}
.messagePageCol {
    height: 300px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
.crmb-2 {
    margin-bottom: 2px;
}
.answerMessage {
    direction: ltr;
}
.messagePageCol::-webkit-scrollbar {
    width: 12px;
}

.messagePageCol::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.messagePageCol::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.chatListTitle {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.chatListBox {
    background-color: #eae4e47d;
    border-radius: 5px;
    position: relative;
}
.chatListTime {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}
.crp-15 {
    padding: 5px 15px 5px 15px;
}
.isOpenChatList {
    background-color: #f59533;
    border-radius: 30px;
    padding: 2px 5px;
    color: white;
}
.isImportantChatList {
    border-radius: 30px;
    padding: 2px 5px;
    background-color: #c78a8a;
    color: white;
}
.tableWidth {
    position: absolute;
    left: 0;
    height: 100%;
}
.cmb-5 {
    margin-bottom: 5px;
}
.inputDiv {
    display: flex;
}
.inputStyle {
    background-color: #d2c9c9;
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 10px 15px;
}
.inputTableWidth {
    height: 100%;
}
.sendBtn {
    border-radius: 100px;
    border: none;
    background-color: #d2c9c9;
    padding: 7px 10px;
    cursor: pointer;
    text-align: center;
}
.cartStyle {
    box-shadow: none;
    border: none;
    background-color: transparent;
}
.listPosition {
    position: initial;
}
.selectTicket {
    border: 2px solid;
}
.isClosedChatList {
    background-color: #f59533;
    border-radius: 30px;
    padding: 2px 5px;
    color: white;
    text-align: center;
}
.isImportantChatList {
    border-radius: 30px;
    padding: 2px 5px;
    background-color: #eb8d21;
    color: white;
    text-align: center;
}
.isNotImportantChatList {
    border-radius: 30px;
    padding: 2px 5px;
    background-color: #626ddb;
    color: white;
    text-align: center;
}
.isVeryImportantChatList {
    border-radius: 30px;
    padding: 2px 5px;
    background-color: #e93a3a;
    color: white;
    text-align: center;
}
.chatListTitle {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.chatListBox {
    background-color: #eae4e47d;
    border-radius: 5px;
    position: relative;
}
.chatListTime {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}
.isOpenChatList {
    background-color: #009e0c;
    border-radius: 30px;
    padding: 2px 10px;
    color: white;
    text-align: center;
}
