<!--------body-------->
<div class="container-fluid pb-5" style="background-color: #fafafa;">
  <div class="container pt-4">
      <div class="row">  
          <!--------slider-------->
          <div class="col-12 col-lg-12">
              <div id="demo" class="carousel slide" data-ride="carousel">
  
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                      <li data-target="#demo" [attr.data-slide-to]="i" *ngFor="let item of sliderItems;let isFirst=first;let i=index;" [ngClass]="{active:isFirst}"></li>
                  </ul>
  
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                      <div *ngFor="let item of sliderItems;let isFirst=first" [ngClass]="{active:isFirst}" class="carousel-item">
                          <img src="{{item.imageUrl}}" class="img-fluid sliderImage" alt="Los Angeles">
                      </div>
                  </div>
  
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                  </a>
  
              </div>
  
              <!---------------->
              <h5 class="mt-4 f6 font-weight-bold">در دنیای مکمل ها چه خبر؟</h5>
              <div class="container border bg-white d-none d-md-block pr-0">
                 <div class="row">
                     <div class="col-6 col-lg-4 py-4">

                         <p class="mt-2  font-weight-bold">{{singleProduct.productName}}
                             <br>
                         </p>
  
                         <p class="mt-5 font-weight-bold">{{singleProduct.productPrice}} تومان</p>
  
                         <button type="button" class="btn btn-green text-light">خرید</button>
  
                     </div>
                     <div class="col-6 col-lg-4">
                         <img src="{{singleProduct.firstImageUrl}}" class="img-fluid py-4">
                     </div>
                     <div class="col-lg-4 d-none d-lg-block">
                         <img src="{{singleProduct.secendImageUrl}}" class="img-fluid" style="height: 100%;width: 100%">
                     </div>
                 </div>
                </div>
              <!------------------>
              <h6 class="mt-4 f6 font-weight-bold">گروه منتخب محصولات</h6>
              <div class="border bg-white px-4 pt-4">
                  <div class="row f3">
                      <div *ngFor="let item of menu" style="cursor: pointer;" class="pad15" (click)="onClickMenu(item.id)" class="col-6 col-md-4">
                          <img src="{{item.menuImage}}" class="img-fluid">
                          <p class="pt-1" style="text-align: center;">{{item.menuName}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  
      <!---------جدیدترین محصولات--------->
      <div class="container mt-5" style="max-width: 1200px;">
          <h6 class="mt-4 text-green font-weight-bold f6">جدیدترین محصولات</h6>
          <div class="border bg-white">
              <div>
                  <div class="row">
                      <div class="MultiCarousel">
                          <div class="MultiCarousel-inner">
                              <div *ngFor="let item of products" class="item">
                                  <div style="cursor: pointer;" class="pad15" (click)="onClickProduct(item.id)">
                                     <img src="{{item.imageUrl}}" class="img-fluid">
  
                                      <div class="progress">
                                          <div class="progress-bar"></div>
                                      </div>
  
                                      <p class="text-left pt-2 f4">{{item.productName}} </p>
                                      <p class="text-left f4">{{item.productPrice}} تومان</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>