<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- stats -->
            <h5>پیشخوان</h5>
            <div class="row mt-2 ">
                <div class="col-xl-6 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="lime">10</h3>
                                        <span>کل کاربران</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-user1 lime font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="lime">0</h3>
                                        <span>کل محصولات</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-shopping-bag lime font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="lime">15</h3>
                                        <span>کل سفارشات</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-shopping-basket lime font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="lime">20</h3>
                                        <span>محصولات جدید</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-shopping-bag lime font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ stats -->




        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->